.features {
  padding: $section-padding 0;

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    &-item {
      text-align: center;

      h3 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: $light-gray;
      }
    }
  }
}