.hero {
  background-image: linear-gradient(
      to right,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.2)
    ),
    url("../img/img.jpg");

  background-size: cover;
  background-position: center;
  text-align: center;
  color: $white;
  padding: 120px 0;

  &-title {
    max-width: 650px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
  }

  &-button {
    background: $main-color;
    padding: 14px 32px;
    border-radius: 4px;
    border: none;
    color: $white;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
    }
  }
}