@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($prop...) {
  transition: $prop $transition;
}

@mixin media-min($width) {
  @media (min-width: $width) {
    @content;
  }
}

